body {
	margin: 0;
	background-color: rgb(174, 192, 241);
	color: rgb(47, 35, 206);
	font-family: Monospace;
	font-size: 20px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#canvas {
	position: absolute;
	top:0;
	z-index: 1;
}

#fishingscene {
	z-index: 0;
}

#game_info {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

#help_info {
	background-color: beige;
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 10px;
	width: 30vw;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 2; 
}
#help_btn {
	background-color: beige;
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 2;
}
#help_btn:hover {
	background-color: red;

}

a, button, input, select {
	pointer-events: auto;
}

